<div class="d-flex justify-content-between align-items-center gap-3 mb-3">
  <div class="p-2"></div>
  <div class="p-2 ms-auto"></div>
  <div class="vr"></div>
  <div class="p-2" *ngIf="isLoged">
    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      (click)="Logout()">Logout</a>
  </div>
</div>
<div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">
  <strong>Lista de Usuários</strong>
</div>
<div class="mb-3 d-flex justify-content-start align-items-center gap-3">
  <label class="btn btn-outline-primary btn-sm m-0">
    <i class="bi bi-upload"></i> Importar CSV
    <input type="file" accept=".csv" (change)="onFileSelected($event)" hidden>
  </label>
</div>
<form class="row g-3 mb-3" [formGroup]="filterFormGroup">
  <div class="col-md-6 col-lg-4">
    <label for="filterName" class="form-label"><b>Nome:</b></label>
    <input type="text" id="filterName" class="form-control form-control-sm" formControlName="filterName"
      placeholder="Buscar por nome">
  </div>
  <div class="col-md-6 col-lg-4">
    <label for="filterEmail" class="form-label"><b>E-mail:</b></label>
    <input type="text" id="filterEmail" class="form-control form-control-sm" formControlName="filterEmail"
      placeholder="Buscar por e-mail">
  </div>
  <div class="col-md-6 col-lg-4 d-flex align-items-center pt-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="noImage" formControlName="filterImg">
      <label class="form-check-label" for="noImage">Somente usuários sem imagem</label>
    </div>
  </div>

  <!-- Botões em linha separada -->
  <div class="col-12 d-flex justify-content-center gap-2">
    <button type="submit" class="btn btn-outline-primary btn-sm" (click)="search()"><i class="bi bi-search"></i>Pesquisar</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="clear()"><i class="bi bi-brush"></i>Limpar</button>
  </div>
</form>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Idade</th>
      <th scope="col">Sexo</th>
      <th scope="col">Data Atualização</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users" (click)="SelectedItem(u)" [ngClass]="{ 'selected-item': u === selectUser }">
      <td>
        {{ u.userID }}<br>
        <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
          title="CPF: {{ u.userOfficialNumber }}">
          <i class="bi bi-person-video"></i>
        </button>
      </td>
      <td>
        <img [src]="loadImage(u.userPicture)" alt="Foto do Usuário" class="img-thumbnail"
          style="width: 80px; height: 80px; border-radius: 50px;">
           {{ u.userName }}
      </td>
      <td>{{ u.userEmail }}</td>
      <td>{{ u.userAge }}</td>
      <td>{{ ChangeTextGender(u.userGender) }}</td>
      <td>{{u.dateAlter | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>
        <button type="button" class="btn btn-outline-success" data-toggle="tooltip" title="Editar"
          (click)="openViewUserModal(selectUser, $event); $event.stopPropagation()">
          <i class="bi bi-pencil"></i>
        </button>
        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" title="Excluir"
          (click)="openDeleteUserModal(selectUser, $event); $event.stopPropagation()">
          <i class="bi bi-x-square"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-update (onSubmit)="onSubmitUpdateUser($event)" [users]="selectUser">
</app-update>
<app-delete (onSubmit)="onSubmiDeleteUser($event)" [users]="selectUser">
</app-delete>