<div class="hstack gap-3">
  <div class="p-2"></div>
  <div class="p-2 ms-auto"></div>
  <div class="vr"></div>
  <div class="p-2">
    <p *ngIf="isLoged"><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
        (click)="Logout()">Logout</a></p>
  </div>
</div>
<br>
<div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis"><b>Lista de Usuários</b></div>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Idade</th>
      <th scope="col">Sexo</th>
    </tr>
  </thead>
  <tbody *ngFor="let u of users" class="table-group-divider">
    <tr>
      <td>
        {{u.userID}}
      </td>
      <td>
        {{u.userName}}
      </td>
      <td>
        {{u.userEmail}}
      </td>
      <td>
        {{u.userAge}}
      </td>
      <td>
        {{ChangeTextGender(u.userGender)}}
      </td>
    </tr>
  </tbody>
</table>