.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
}

.button-group {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
  margin-top: 10px;
}
