<div class="container-fluid p-0">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top shadow">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center">
        <img src="assets/LogoSistema.png" alt="UserControl Logo" style="height: 50px;">
      </a>
      <div class="d-flex align-items-center">
        <span class="text-white me-3" *ngIf="isLoged">
          Olá, <strong>{{ userCurrent.userName }}</strong>
        </span>
        <a class="nav-link text-white" *ngIf="isLoged" (click)="Logout()">Logout</a>
      </div>
    </div>
  </nav>

  <div class="row no-gutters">
    <!-- Sidebar -->
    <aside class="col-md-3 col-lg-2 bg-light border-end min-vh-100 p-3 d-none d-md-block">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/account/protect" routerLinkActive="active">Usuários</a>
        </li>
      </ul>
    </aside>
    <main class="col px-4 py-4">
      <div class="dashboard-container">
        <h2 class="title mb-4">Resultados do sistema</h2>
        <div class="d-flex flex-wrap gap-4">
          <!-- Gráfico de Barras -->
          <div class="card shadow-sm rounded-4 flex-grow-1 chart-card">
            <div class="card-body">
              <h5 class="card-title text-center">Gráfico de Usuários Mensais</h5>
              <div class="chart-wrapper">
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'">
                </canvas>
              </div>
            </div>
          </div>
          <!-- Gráfico de Pizza -->
          <div class="card shadow-sm rounded-4 flex-grow-1 chart-card pie-chart-card">
            <div class="card-body">
              <h5 class="card-title text-center">Distribuição por Gênero</h5>
              <div class="chart-wrapper">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [type]="pieChartType"
                  [options]="pieChartOptions">
                </canvas>
              </div>
            </div>
          </div>
          <!-- Gráfico de Linhas  -->
          <div class="card shadow-sm rounded-4 flex-grow-1 chart-card">
            <div class="card-body">
              <h5 class="card-title text-center">Frequência de Idades</h5>
              <div class="chart-wrapper">
                <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
                </canvas>
              </div>
            </div>
          </div>
          <!-- Gráfico de Dispersão -->
          <div class="card shadow-sm rounded-4 flex-grow-1 chart-card">
            <div class="card-body">
              <h5 class="card-title text-center">Usuários com e sem Foto</h5>
              <div class="chart-wrapper">
                <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions"
                  [type]="scatterChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>